<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mogujie.jarvis.web.mapper.ScriptMapper">

    <!--不返回content,避免返回数据太多-->
    <select id="queryScript" parameterType="String" resultType="ScriptVo">
      SELECT id, title, creator FROM ironman.script
      WHERE
          status = 0
          <if test="_parameter!=null and _parameter!=''">
              and title LIKE '%${_parameter}%'
          </if>
        ORDER BY title asc
    </select>

    <select id="getScriptById" parameterType="Integer" resultType="ScriptVo">
        SELECT
          id, title, creator,content
        FROM
          ironman.script
        WHERE
          id = ${id}
        limit 1
    </select>

</mapper>