*.releaseBackup
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
.settings/
.classpath
.springBeans


local.properties
.loadpath

# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.swp
*~.nib

# system ignore
.DS_Store
Thumbs.db

# External tool builders
.externalToolBuilders/

worker.level.db
metastore_db/
