<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
  <Appenders>
    <RollingFile name="RollingFile" fileName="${sys:log_dir}/${sys:role}.log"
                 filePattern="${sys:log_dir}/${sys:role}-%d{yyyy-MM-dd}-%i.log">
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
    </RollingFile>
    
    <RollingFile name="heartbeat" fileName="${sys:log_dir}/heartbeat.log" filePattern="${sys:log_dir}/heartbeat.%d{yyyy-MM-dd}.%i.log">
       <PatternLayout>
           <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n</Pattern>
       </PatternLayout>
       <Policies>
           <TimeBasedTriggeringPolicy />
           <SizeBasedTriggeringPolicy size="200 MB"/>
       </Policies>
       <DefaultRolloverStrategy max="20"/>
    </RollingFile>
    
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="RollingFile"/>
    </Root>
    <Logger name="heartbeat" level="info" additivity="false">
	  <AppenderRef ref="heartbeat" />
    </Logger>
  </Loggers>
</Configuration>
